spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shop
    username: postgres
    password: 76384poveroZ
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  servlet:
    session:
      cookie:
        secure: false

jwt:
  tokenSecret: "66546A555E5A7234753778214123222A472D4B614E645262356B587032733576"
  accessTokenDurationSecond: 3600
  accessCookieName: "jwt"